.portfolio-experiment {
	background: #00000000;
	color: #ffffff;
}

.portfolio-experiment .experiment-title {
	outline: none;
	font-size: 12vw;
	text-align: center;
	font-family: "Poppins", sans-serif;
	min-height: 10vw;
	max-width: 80vw;
	min-width: 10vw;
}

.portfolio-experiment .experiment-title,
    .portfolio-experiment .experiment-title * {
	animation: cray 6s infinite steps(50);
	display: inline-block;
}

@keyframes cray {
	2% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}

	4% {
		font-weight: 500;
		font-style: normal;
		text-decoration: underline;
		text-transform: lowercase;
	}

	6% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	8% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	10% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	12% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	14% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: uppercase;
	}

	16% {
		font-weight: 100;
		font-style: normal;
		text-decoration: underline;
		text-transform: uppercase;
	}

	18% {
		font-weight: 100;
		font-style: italic;
		text-decoration: line-through;
		text-transform: uppercase;
	}

	20% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	22% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: uppercase;
	}

	24% {
		font-weight: 300;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}

	26% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}

	28% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	30% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	32% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	34% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}

	36% {
		font-weight: 400;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	38% {
		font-weight: 200;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}

	40% {
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	42% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	44% {
		font-weight: 200;
		font-style: normal;
		text-decoration: underline;
		text-transform: capitalize;
	}

	46% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	48% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: uppercase;
	}

	50% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	52% {
		font-weight: 600;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}

	54% {
		font-weight: 700;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	56% {
		font-weight: 500;
		font-style: italic;
		text-decoration: line-through;
		text-transform: lowercase;
	}

	58% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}

	60% {
		font-weight: 200;
		font-style: italic;
		text-decoration: underline;
		text-transform: none;
	}

	62% {
		font-weight: 500;
		font-style: italic;
		text-decoration: line-through;
		text-transform: none;
	}

	64% {
		font-weight: 200;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	66% {
		font-weight: 700;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	68% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	70% {
		font-weight: 200;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}

	72% {
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	74% {
		font-weight: 400;
		font-style: italic;
		text-decoration: none;
		text-transform: none;
	}

	76% {
		font-weight: 100;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	78% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}

	80% {
		font-weight: 500;
		font-style: normal;
		text-decoration: underline;
		text-transform: none;
	}

	82% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	84% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	86% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}

	88% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}

	90% {
		font-weight: 300;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	92% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}

	94% {
		font-weight: 400;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}

	96% {
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
		text-transform: lowercase;
	}

	98% {
		font-weight: 400;
		font-style: normal;
		text-decoration: line-through;
		text-transform: none;
	}
}
